# rank,host_name,host_iface,router_iface,host_ip
0,host1,host1-eth0,router-eth0,10.0.0.1
1,host2,host2-eth0,router-eth1,10.0.0.2
2,host3,host3-eth0,router-eth2,10.0.0.3
3,host4,host4-eth0,router-eth3,10.0.0.4

